/*fonts*/

@font-face{
    font-family: Philosopher;
    src: url(../fonts/Philosopher/Philosopher-Regular.ttf);
    font-weight: normal;
}

@font-face{
    font-family: Philosopher-Bold;
    src: url(../fonts/Philosopher/Philosopher-Bold.ttf);
    font-weight: bold;
}


@font-face{
    font-family: manrope;
    src: url(../fonts/manrope/Manroperegular.ttf);
    font-weight: normal;
}



/*helpers*/
.container{
    width: 1240px;
    max-width: 100%;
    margin: 0 auto;
}

.col{
    width: 33.3333%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}


/*reset*/

a{
    text-decoration: none;
    cursor: pointer;
    z-index: 30;
}

li{
    list-style: none;
}

body{
    margin: 0;
    padding: 0;
}


/*main style*/
body{
    font-family: manrope;
    font-size: 100%;
}

.menu__container{
    height: 100vh;
    position: relative;
    background: #222129;
    display: flex;
    flex-direction: column;
}

.menu__container-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/bg.svg");
    background-position: center center;

}

.menu__container-top{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button__exit{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}

.button__exit a{
    color: #fff;
    cursor: pointer;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}
.button__exit a:hover{
    color: #f2f2f2;
}



.nav-item{
    display: flex;
    flex-direction: column;
    padding-top: 136px;
    padding-right: 0px;
    align-items: center;
}

.nav-link{
    color: #fff;
    font-family: Philosopher-Bold;
    font-size: 45px;
    line-height: 50px;
    display: flex;
    flex-direction: column;
}

.nav-description{
    color: #d1d1d1;
    font-size: 14px;
    letter-spacing: 0.1em;
    line-height: 28px;
}